<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hms -->
      <package
            uri="ca.mcgill.ecse539.homeautomation.hms"
            class="hms.HmsPackage"
            genModel="model/hms.genmodel"/>
   </extension>

</plugin>
